<h1> Welcome! please enter a name to Login: </h1>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  
  <input name=name>
  <input type=submit value='login'>

<% end %>

